/*font-family: 'Caveat', cursive;
font-family: 'Special Elite', cursive;*/

.grid-container {
    margin-top:100px;
}

body {
    background-image:url(../10911.jpg);

}

.age-verify {
    margin-left:40%;
    margin-top:40%;
}

#submit-age {
    font-family: 'Special Elite', cursive;
    color:black;
    border:black;
}

label {
    font-family: 'Special Elite', cursive;
}

p {
    font-family: 'Special Elite', cursive;
    font-size:200%;
}

