
 

 a {
  color: white;
  font-weight: normal;
  margin-top: -2px;
}

#sidebar {
    padding-top: 10px;
    position: fixed;
    height: 100%;
    
   }


#sidebar-content{
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  z-index: 2;
  backdrop-filter: blur(2px);
}

#maincontent {
     position: relative;
     float: left;
     margin-left: 16.5%;
     padding: 10px;
   }

.title-bar {
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  z-index: 2;
  backdrop-filter: blur(2px);
}

.menu-title{
  font-weight: bold;
}

.accordion-menu{
    margin-top: 20px;
}
  
.mr{
    margin-right: 0px;
}

.orbit-image {
      height: 570px;
      width: 100%;
  }

  .orbit-container {
    position: relative;
    height: 570x; 
    margin: 0px;
  }
  
  .orbit-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.2); }
    
  .orbit-caption p {
    position: relative;
    bottom: 36;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    color: #fefefe;
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
    background-color: rgba(10, 10, 10, 0.4); 
    width: 1200px;
    padding-left: 20px;
    margin-left: 40px;
    
     }
  
  @media screen and (max-width: 39.9375em) {
    .orbit-caption p {
      font-size: 12px;
      font-weight: 400; } }
    .orbit-bullets {
      display: none; }